"""Sphinx autodoc settings"""

# Autodoc settings
autodoc_typehints = "description"
typehints_fully_qualified = True
autodoc_default_flags = ["members", "undoc-members"]

# Napoleon settings
napoleon_google_docstring = True

{% if apidoc_module_dir %}
# Apidoc settings
apidoc_module_dir = {{apidoc_module_dir}}
apidoc_extra_args = ["-e"]
{% endif %}