"""Sphinx configuration file"""

import os
import shutil
from templates.autodoc import * # noqa
from templates.sphinx import * # noqa
from templates.yummy import * # noqa

{% if debug %}
from pprint import pprint
{% endif %}
from runtime import modify_file, markup, fmt_copyright, remove_heading

copyright = fmt_copyright(author)

{% if debug %}
pprint(locals())
{% endif %}

static_dir = os.path.join("{{output_dir}}", "static")

readme_md_path = os.path.join(static_dir, "README.md")
readme_html_path = os.path.join(static_dir, "README.html")

shutil.copy("README.md", readme_md_path)
markup(readme_md_path, static_dir)
os.remove(readme_md_path)
modify_file(readme_html_path, remove_heading)
