import datetime
import os
import re
import pypandoc
from typing import Callable


def fmt_copyright(author: str) -> str:
    return f"{datetime.datetime.now().year} {author}"


def remove_heading(html: str) -> str:
    return re.sub("<h1.*>.*?</h1>", "", html, flags=re.DOTALL)


def modify_file(path: str, callback: Callable[[str], str]) -> None:
    with open(path, "r") as stream:
        content = stream.read()

    with open(path, "w") as stream:
        stream.write(callback(content))


def markup(md_path: str, target_dir: str) -> None:
    output_path = os.path.basename(md_path).replace(".md", ".html")

    with open(md_path, "r") as stream:
        content = stream.read()

    with open(os.path.join(target_dir, output_path), "w") as stream:
        stream.write(pypandoc.convert(content, "html", format="md"))
