"""Sphinx core settings"""

project = {{ project }}
version = {{ version }}
author = {{ author }}
master_doc = "index.rst"

exclude_patterns = ["_build", "Thumbs.db", ".DS_Store", "venv"]

extensions = [
    "sphinx.ext.autodoc",
    "sphinx_autodoc_annotation",
    "sphinx.ext.napoleon",
    "sphinx.ext.viewcode",
    "sphinxcontrib.apidoc",
]
